@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,400;1,700&family=Yatra+One&display=swap");
body {
  font-family: "Yatra one", "Courier New", Courier, monospace;

  margin: 0;
}
.container {
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  justify-content: space-between;
  height: 900px;
  background-image: url(../images/rodrigo-soares-1UF27kmDDg0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-grow: 0;
  flex-shrink: 0;
}
#footer {
  display: flex;
  justify-content: center;
  color: white;
}
#logo {
  display: flex;
  justify-content: flex-start;
  color: white;
  font-size: 50px;
  text-align: center;
  background-color: rgba(34, 32, 32, 0.6);
  margin-top: 170px;
}
div img {
  padding-left: 160px;
  margin: 0px;
  width: auto;
  height: 110px;
}
.text {
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
  color: white;
}
.right {
  background-image: url(../images/peakpx.jpg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 60%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgb(206, 202, 198, 0.3);

  margin-right: 100px;
}
form {
  display: flex;
  color: white;
  background-color: rgba(143, 146, 148, 0.1);
}
.text2 {
  text-align: center;
  font-size: 1.2rem;
  padding-top: 100px;
  color: whitesmoke;
  padding-left: 100px;
  padding-right: 110px;
}
.inputcont {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  padding-top: 0px;
}
.inputs {
  display: flex;
  flex-direction: column;
}
#submitbut {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: rgb(255, 255, 255, 0.1);
  color: #ffffff;
  text-align: center;
  transition: all 0.15s;
  margin-bottom: 20px;
}
input {
  margin-right: 20px;
  border-radius: 4px;
  height: 25px;
}
label {
  margin-top: 10px;
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  color: white;
  padding-bottom: 70px;
}
h2 {
  padding-left: 30px;
}
